@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Bree+Serif&family=Castoro&family=Roboto&family=Ubuntu:wght@500&display=swap');

@layer base {
  html {
    font-family: 'Bree Serif', serif, 'Ubuntu', sans-serif, 'Castoro', 'Amaranth';
  }
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #C9FFCE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
